#expertise.page {
    transform: translate(0, 2em);
    display: flex;
    flex-direction: row;
    /* padding: 0 !important; */
    overflow: clip;
    padding: 13vh 0 0 3%;
}

#expertise {
    .page-text {
        z-index: 3;
        /* box-shadow: 1px -3em 8px 2px black; */
        min-width: 45%;
        width: 50%;
    }

    img {
        width: 100%;
    }


}

@media (max-width: 1230px) {
    #expertise.page {
        flex-direction: column;
        padding: 0;
    }
   
    #expertise {
        .page-text {
            padding: 0 0 0 3%;
            width: unset;
        }
        .page-text>* {
            width: calc(45% + 10em);
            max-width: 95%;
        }
    }
}