#home.page {
    transform: translate(0, 0);
    display: flex;
    flex-direction: row;
    padding: 0 !important;
    overflow: clip;
}
#home {
    .page-text {
        z-index: 3;
        /* box-shadow: 1px -3em 8px 2px black; */
        padding: 13vh 1em 0 3%;
        min-width: 40%;
    }
}

@media (max-width: 1230px) {
    #home.page {
        flex-direction: column;
    }

    /* .page-text {
        box-shadow: 1px 0px 8px 2px black;
    } */
    #home {
        .page-text>* {
            width: calc(45% + 10em);
            max-width: 95%;
        }
    }
    
}